<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HOTEL_API_KEY</key>
	<string>32f7a6b9da14bb4c4a9c759eda134635</string>
	<key>HOTEL_SECRET</key>
	<string>d5031dbf3b</string>
</dict>
</plist>
